{% extends "base.html" %}

{% block content %}
  {% set a = "No data to show" %}
  <h4>Surname: {{ user_form_data.get("surname", a) }}</h4>
  <h4>Name: {{ user_form_data.get("name", a) }}</h4>
  <h4>Education: {{ user_form_data.get("education", a) }}</h4>
  {% set s = user_form_data.get("profession", a) %}
  {% if s != a %}
    {% set s = ', '.join(s) %}
  {% endif %}
  <h4>Profession(s): {{ s }}</h4>
  <h4>Sex: {{ user_form_data.get("sex", a) }}</h4>
  <h4>Motivation: {{ user_form_data.get("about", a) }}</h4>
  {% set s = user_form_data.get("StayOnMars", a) %}
  {% if s != a %}
    {% if s == "on" %}
      {% set s = 'Ready!' %}
    {% else %}
      {% set s = 'No :(' %}
    {% endif %}
  {% endif %}
  <h4>Ready to stay on mars?: {{ s }}</h4>
{% endblock %}
